.mon-image {
  height: 100px;
  width: 100px;
}

.mon-card {
  width: 300px;
  margin: 25px;
}

.pokemon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
